@page "/dataset-templates"
@using Relaks.Models
@using Relaks.Database

@inject AppDbContext Db;

<PageTemplate>
    <MyTitle ShowEndTitle="@true">
        <ChildContent>Шаблоны для наборов данных</ChildContent>
        <EndTitle>
            <a href="/dataset-templates/new" class="btn btn-primary">
                <i class="las la-plus-circle la-lg me-1"></i>
                @Resources.Action.Add
            </a>
        </EndTitle>
    </MyTitle>
    
    <div class="alert bg-info bg-opacity-10">
        Шаблоны являются общими данными, которые служат для предзаполнения повторяющихся данных о объединениях. Добавьте сюда свои произвольные шаблоны.
    </div>
    
    <div class="d-flex flex-wrap gap-3">
        @foreach (var dt in DatasetTemplates)
        {
            <div class="col-2">
                <a href="@($"/dataset-templates/{dt.Id}")"
                   class="border bg-secondary bg-opacity-10 d-block p-2 rounded text-decoration-none">
                    @dt.Title
                </a>
            </div>
        }
    </div>
</PageTemplate>

@code {
    private List<DatasetTemplate> DatasetTemplates { get; set; } = new();

    protected override void OnParametersSet()
    {
        DatasetTemplates = Db.DatasetTemplates.OrderBy(x => x.Title).ToList();
    }

}