@page "/dataset-templates/new"

<PageTemplate>
    <HalfPage>
        <MyTitle>
            <BeforeTitle>
                <a href="/dataset-templates" class="btn btn-outline-secondary">
                    <i class="las la-arrow-left la-lg me-1"></i> @Resources.Action.Return
                </a>
            </BeforeTitle>
            <ChildContent>Добавление шаблона для набора данных</ChildContent>
        </MyTitle>

        form
    </HalfPage>
</PageTemplate>

@code {

}