<PageTemplate>
    <div class="row gap-4">
        <div class="col-auto">
            <EntryCard EntryId="@EntryId"
                       EntryInfoId="@EntryInfoId"
                       WithEdit="@true"
                       />
        </div>
        <div class="col">
            @ChildContent
        </div>
    </div>
</PageTemplate>

@code {
    [Parameter]
    public Guid EntryId { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;
    
    private Guid? EntryInfoId { get; set; }

    protected override void OnParametersSet()
    {
        var query = new Uri(NavigationManager.Uri).Query;
        var dict = System.Web.HttpUtility.ParseQueryString(query);
        var entryInfoId = dict["entryInfoId"];
        EntryInfoId = string.IsNullOrEmpty(entryInfoId) ? null : Guid.Parse(entryInfoId);
    }
}