@using Relaks.Models

<div class="my-3 d-flex gap-2 justify-content-center align-items-center">
    @foreach (var d in DataHelper.EntryInfoContactDiscriminators)
    {
        <Tooltip Title="@($"Добавить {d}")">
            <NavLink href="@($"/entries/{EntryId}/einfo/new/{d}")" class="btn btn-outline-secondary btn-circle">
                <i class="@DataHelper.EntityIcon(d) la-lg"></i>
            </NavLink>
        </Tooltip>
    }
</div>

@code {
    [Parameter]
    public Guid EntryId { get; set; }
}