@page "/entries"

@* <h1 class="h2">Объединения</h1> *@
@* <Title Text="Объединения"></Title> *@
@* <Title>Объединения</Title> *@

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
