@page "/"
@using Microsoft.AspNetCore.Mvc.Localization

<PageTemplate>
  <MyTitle>Index</MyTitle>
  
  <p><a href="/entries/01FBDDDD-1D69-4757-A8D2-5050A1AED4D4">Вася Пупкин</a></p>
  
  <p><a href="/asd">error</a></p>
  <p><a href="/test">test</a></p>
  <p>bootstrap icons <i class="bi bi-1-square text-red"></i></p>
  <p>line awesome icons <i class="las la-info text-red"></i></p>
  <p>font awesome icons <i class="fa fa-solid fa-info"></i></p>
  <p>font awesome icons 2
<i class="fa-solid fa-arrow-down-up-lock" aria-hidden="true"></i></p>
  
  @* <p><b>trans</b> @Localizer["Welcome"]</p> *@
  
</PageTemplate>
@code{

  // [Inject]
  // public IViewLocalizer Localizer { get; set; } = null!;

}