@page "/"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using System.Globalization

<PageTemplate>
  <MyTitle>Index</MyTitle>
  
  <p><a href="/entries/01FBDDDD-1D69-4757-A8D2-5050A1AED4D4/info">Вася Пупкин</a></p>
  
  <p><a href="/asd">error</a></p>
  <p><a href="/test">test</a></p>
  <p><NavLink href="/entries/new">new entry</NavLink></p>
  <p>bootstrap icons <i class="bi bi-1-square text-red"></i></p>
  <p>line awesome icons <i class="las la-info text-red"></i></p>
  <p>font awesome icons <i class="fa fa-solid fa-info"></i></p>
  <p>font awesome icons 2
    <i class="fa-solid fa-arrow-down-up-lock" aria-hidden="true"></i></p>
  <p>@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName</p>
  <div>
    <div class="mime-icon ico-application ico-asx">
      <div class="ico"></div>
    </div>
    
    @* <img src="/2023/5/26/sample1.heic" alt=""> *@
  </div>
  
  <div>
    <div>$settings: "\E8B8"; <i class="fa fa-solid "></i></div>
    <div>$locked: "\E88D"; <i class="fa fa-solid "></i></div>
    <div>$flag: "\E3A0"; <i class="fa fa-solid "></i></div>
    <div>$work: "\E8F9"; <i class="fa fa-solid "></i></div>
    <div>$build: "\E869"; <i class="fa fa-solid "></i></div>
    <div>$malware: "\E868"; <i class="fa fa-solid "></i></div>
    <div>$map: "\E8B4"; <i class="fa fa-solid "></i></div>
    <div>$coffee: "\EB44"; <i class="fa fa-solid "></i></div>
    <div>$apk: "\E859"; <i class="fa fa-solid "></i></div>
    <div>$usb: "\E1E0"; <i class="fa fa-solid "></i></div>
    <div>$cloud: "\E2BD"; <i class="fa fa-solid "></i></div>
    <div>$attachment: "\E2BC"; <i class="fa fa-solid "></i></div>
    <div>$world: "\E80B"; <i class="fa fa-solid "></i></div>
    
    <div>$zip: "\e0b7"; <i class="fa-solid fa-bolt-lightning"></i></div>
    <div> <i class="fa fa-solid "></i></div>
    <div>$music: "\E3A1"; <i class="fa fa-solid "></i></div>
    <div>$mic: "\E029"; <i class="fa fa-solid "></i></div>
    <div>$radio: "\E03E"; <i class="fa fa-solid "></i></div>
    <div>$audio: "\E050"; <i class="fa fa-solid "></i></div>
    <div>$lp: "\E019"; <i class="fa fa-solid "></i></div>
    <div> <i class="fa fa-solid "></i></div>
    <div>$photo: "\E3B0"; <i class="fa fa-solid "></i></div>
    <div>$picture: "\E3B7"; <i class="fa fa-solid "></i></div>
    <div>$pict: "\E251"; <i class="fa fa-solid "></i></div>
    <div> <i class="fa fa-solid "></i></div>
    <div>$play: "\E037"; <i class="fa fa-solid "></i></div>
    <div>$movie: "\E02C"; <i class="fa fa-solid "></i></div>
    <div>$cam: "\E04B"; <i class="fa fa-solid "></i></div>
    <div> <i class="fa fa-solid "></i></div>
    <div>$text: "\E262"; <i class="fa fa-solid "></i></div>
    <div>$stylez: "\E91D"; <i class="fa fa-solid "></i></div>
    <div>$app: "\E051"; <i class="fa fa-solid "></i></div>
    <div>$code: "\E86F"; <i class="fa fa-solid "></i></div>
    <div> <i class="fa fa-solid "></i></div>
    <div>$calendar: "\E8DF"; <i class="fa fa-solid "></i></div>
    <div>$epub: "\E54B"; <i class="fa fa-solid "></i></div>
  </div>
  
  <button class="btn btn-dark" @onclick="SwitchCulture">switchCulture</button>
  <p>trans: @Resources.Action.Add</p>
  @* <p>trans: @__["welcome"]</p> *@
  
</PageTemplate>
@code{

  // [Inject]
  // public IStringLocalizer<App> __ { get; set; } = null!;

  private void SwitchCulture()
  {
    var current = Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;

    Thread.CurrentThread.CurrentCulture = new CultureInfo("en");
    Thread.CurrentThread.CurrentUICulture = new CultureInfo("en");
  }
}