@page "/"

<Title>
    <ChildContent>Relaks</ChildContent>
    <Subtitle>
        Relations
    </Subtitle>
    <EndTitle>
        <a href="#">asdasd</a>
    </EndTitle>
</Title>

@* Welcome to your new app. *@
@* *@
@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
@* *@
@* <Carousel @bind-SelectedSlide="@selectedSlide"> *@
@*     <CarouselSlide Name="1"> *@
@*         <Image Source="https://via.placeholder.com/200x200" Text="Lights image" Display="Display.Block" Width="Width.Is100"/> *@
@*     </CarouselSlide> *@
@*     <CarouselSlide Name="2"> *@
@*         <Image Source="https://via.placeholder.com/200x200" Text="Keyboard image" Display="Display.Block" Width="Width.Is100" /> *@
@*     </CarouselSlide> *@
@*     <CarouselSlide Name="3"> *@
@*         <Image Source="https://via.placeholder.com/200x200" Text="Road image" Display="Display.Block" Width="Width.Is100" /> *@
@*     </CarouselSlide> *@
@* </Carousel> *@
@* *@
@code{
    
}