@page "/"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

<PageTemplate>
  <MyTitle>Index</MyTitle>
  
  <p><a href="/entries/01FBDDDD-1D69-4757-A8D2-5050A1AED4D4/info">Вася Пупкин</a></p>
  
  <p><a href="/asd">error</a></p>
  <p><a href="/test">test</a></p>
  <p><NavLink href="/entries/new">new entry</NavLink></p>
  <p>bootstrap icons <i class="bi bi-1-square text-red"></i></p>
  <p>line awesome icons <i class="las la-info text-red"></i></p>
  <p>font awesome icons <i class="fa fa-solid fa-info"></i></p>
  <p>font awesome icons 2
<i class="fa-solid fa-arrow-down-up-lock" aria-hidden="true"></i></p>
  
  @* <p><b>trans</b> @Localizer["Welcome"]</p> *@
  @* <p>trans: @__["welcome"]</p> *@
  
</PageTemplate>
@code{

  // [Inject]
  // public IStringLocalizer<App> __ { get; set; } = null!;

}