@page "/"

<Title>
  <ChildContent>Relaks</ChildContent>
  <Subtitle>
    Relations
  </Subtitle>
  <EndTitle>
    @* <Button Color="Color.Primary">hello</Button> *@
<a href="#" class="btn btn-primary rounded-circle">
  <i class="bi bi-mailbox"></i>
</a>    
  </EndTitle>
</Title>

<ul class="list-group">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>

@* <ul class="list-group"> *@
@*   <li class="list-group-item">An item</li> *@
@*   <li class="list-group-item">A second item</li> *@
@*   <li class="list-group-item">A third item</li> *@
@*   <li class="list-group-item">A fourth item</li> *@
@*   <li class="list-group-item">And a fifth one</li> *@
@* </ul> *@
@* Welcome to your new app. *@
@* *@
@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
@* *@
@* <Carousel @bind-SelectedSlide="@selectedSlide"> *@
@*     <CarouselSlide Name="1"> *@
@*         <Image Source="https://via.placeholder.com/200x200" Text="Lights image" Display="Display.Block" Width="Width.Is100"/> *@
@*     </CarouselSlide> *@
@*     <CarouselSlide Name="2"> *@
@*         <Image Source="https://via.placeholder.com/200x200" Text="Keyboard image" Display="Display.Block" Width="Width.Is100" /> *@
@*     </CarouselSlide> *@
@*     <CarouselSlide Name="3"> *@
@*         <Image Source="https://via.placeholder.com/200x200" Text="Road image" Display="Display.Block" Width="Width.Is100" /> *@
@*     </CarouselSlide> *@
@* </Carousel> *@
@* *@
@code{
    
}