@page "/test"
@using System.Diagnostics.CodeAnalysis
@using Relaks.Models

<div class="mt-3">
    <Button OnClick="() => Modal.Toggle()">toggle</Button>
</div>
<Modal @ref="Modal" IsKeyboard="true">
    <ModalDialog Title="test">
        <BodyTemplate>
            <div>test test</div>
        </BodyTemplate>
    </ModalDialog>
</Modal>

@* <InputImageCrop/> *@

@code {
    [NotNull]
    private Modal? Modal { get; set; }
    // private List<SelectedItem> Items { get; set; } = new();
    //
    // private SelectedItem Discriminator { get; set; } = new();
    //
    // /// <summary>
    // /// OnInitialized 方法
    // /// </summary>
    // protected override void OnInitialized()
    // {
    //     base.OnInitialized();
    //
    //     Items = new()
    //     {
    //         new SelectedItem(nameof(EPerson), nameof(EPerson)) {Active = true},
    //         new SelectedItem(nameof(ECompany), nameof(ECompany)),
    //         new SelectedItem(nameof(EMeet), nameof(EMeet))
    //     };
    // }

}
