@page "/entries/{entryId:guid}/files"

<EntryProfileLayout EntryId="@EntryId">
    <EntryProfileTabs EntryId="@EntryId"/>
    <MyTitle>Файлы</MyTitle>
    

    <div class="row">
        <div class="col-3">
            <_EntryUploader EntryId="@EntryId"/>
        </div>
        <div class="col-9"></div>
    </div>
    <hr>
    <AppFileList EntryId="EntryId"/>
</EntryProfileLayout>

@code {
    [Parameter]
    public Guid EntryId { get; set; }

    protected override void OnParametersSet()
    {
        
    }

}