@page "/professions"

<PageTemplate>
    <MyTitle>Профессии</MyTitle>
    
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-xl-8 col-xxl-7">
            <ProfessionList/>
        </div>
    </div>
</PageTemplate>

@code {
    
}