<div class="d-flex gap-3 align-items-center">
    <div>
        <Pagination PageCount="@TotalPages"
                        PageIndex="@ActivePage"
                        Alignment="Alignment.Left"
                        OnPageLinkClick="OnPageLinkClick"
            />
    </div>

    <div>Всего найдено: @TotalItems</div>
</div>

@code {

    [Parameter]
    public int ActivePage { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public int TotalItems { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }

    private async Task OnPageLinkClick(int pageNumber) => await OnPageChanged.InvokeAsync(pageNumber);
}