@page "/test"
@using Relaks.Utils
@using Console = System.Console
@inject AppOperation AppOperation;

<PageTemplate>
    <MyTitle>Test</MyTitle>

    <button @onclick="@Restart">Restart</button>
</PageTemplate>

@code {
    private void Restart()
    {
        Console.WriteLine(@">>>>>>>>>>>>>>>>>>>>>> ok test reload");
    }
}