@page "/test"
@using Relaks.Database
@using Relaks.Models
@using System.Text.Json


@inject AppDbContext Db;
@inject IJSRuntime JsRuntime;


<button class="btn btn-primary" @onclick="@DownloadAll">test</button>

@code {

    private async Task DownloadAll()
    {
        await JsRuntime.InvokeAsync<bool>("downloadAll", Resources.Action.Delete_Confirmation);
    }

}
