@page "/test"

<PageTemplate>
    <MyTitle>Test</MyTitle>

    <p>EntryId: @EntryId</p>
    
    <_EntryFinancialAccountsList OnStateChanged="@StateHasChanged"
                                 @bind-EntryId="@EntryId"
                                 />
                                 @* @bind-AccountId="@AccountId" *@
    @* <SelectEntryFinancialAccount/> *@
</PageTemplate>

@code {
    private Guid? EntryId { get; set; }
    private Guid? AccountId { get; set; }
}