.avatar-sm {
  img {
    border-radius: var(--bs-border-radius);
  }
  .custom-avatar,
  img {
    width: 50px;
    height: 50px;
  }
  .custom-avatar {
    font-size: .9rem;
  }
}
.avatar-md {
  .custom-avatar,
  img {
    width: 60px;
    height: 60px;
  }
  .custom-avatar {
    font-size: 1.2rem;
  }
}
.avatar-circle {
  .custom-avatar,
  img {
    border-radius: 50%
  }
}

.custom-avatar {
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-secondary);
  color: var(--bs-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem;
  word-wrap: break-word!important;
  word-break: break-word!important;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  &::before {
    content: '';
    padding-bottom: 100%;
  }
  &.card-img-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 5rem;
    line-height: 5rem;
  }
}