html, body, #app {
  height: 100%;
}
body {
  overflow-y: scroll;
}
// убриаем эффекты рамок при наведении на инпуты
.form-control {
  &, &:active, &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
//@mixin text-nowrap-hidden {
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
//}
//.text-nowrap-hidden {
//  @include text-nowrap-hidden;
//}
.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.fts-result {
  b {
    font-weight: 500;
    color: $orange
  }
}
.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  &.btn-sm {
    width: 32px;
    height: 32px;
  }
}
.btn-square {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul-warning,
.ul-info {
  padding-left: 1rem;
  li {
    list-style: none;
    position: relative;
    padding-left: 1rem;
    margin-bottom: .4rem;
    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      opacity: .7;
    }
  }
}
.ul-warning li::before {
  background: var(--bs-warning);
}
.ul-info li::before {
  background: var(--bs-info);
}
.border-dashed {
  border: var(--bs-border-width) dashed var(--bs-border-color);
}
textarea {
  resize: none !important;
}
.header-navbar-menu {
  a {
    line-height: 1.25rem;
  }
}
.text-decoration-none {
  text-decoration: none !important;
}
.bg-opacity-5 {
  --bs-bg-opacity: .05;
}