body {
  overflow-y: scroll;
}
// убриаем эффекты рамок при наведении на инпуты
.form-control {
  &, &:active, &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
//@mixin text-nowrap-hidden {
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
//}
//.text-nowrap-hidden {
//  @include text-nowrap-hidden;
//}
.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.fts-result {
  b {
    font-weight: 500;
    color: $orange
  }
}
.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
}
.btn-square {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}