body {
  overflow-y: scroll;
}
// убриаем эффекты рамок при наведении на инпуты
.form-control {
  &, &:active, &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
//@mixin text-nowrap-hidden {
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
//}
//.text-nowrap-hidden {
//  @include text-nowrap-hidden;
//}
.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.fts-result {
  b {
    font-weight: 500;
    color: $orange
  }
}
.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  &.btn-sm {
    width: 32px;
    height: 32px;
  }
}
.btn-square {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul-info {
  padding-left: 1rem;
  li {
    list-style: none;
    position: relative;
    padding-left: 1rem;
    margin-bottom: .4rem;
    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background: var(--bs-info);
      opacity: .7;
    }
  }
}
.custom-avatar {
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-secondary);
  color: var(--bs-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem;
  word-wrap: break-word!important;
  word-break: break-word!important;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: bold;
  &::before {
    content: '';
    padding-bottom: 100%;
  }
  &.card-img-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 5rem;
    line-height: 5rem;
  }
}