$timelineLeft: 200px;
$timelineBorderWidth: 5px;
$timelineIconSize: 40px;

.timeline {
  margin: 0;
  padding: 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: $timelineBorderWidth;
    background: var(--bs-secondary);
    left: calc($timelineLeft - calc($timelineIconSize / 2));
  }
  &__el {
    position: relative;
    margin-bottom: 1.5rem;
  }
  &__body {
    margin-left: calc($timelineLeft + 20px);
    background: rgba(var(--bs-secondary-rgb), .1);
    position: relative;
    padding: 1.5rem;
    border-radius: 6px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      border: 10px solid transparent;
      border-right-color: rgba(var(--bs-secondary-rgb), .1);
      left: -20px;
      top: 20px;
    }
  }
  &__icon {
    left: calc($timelineLeft - ($timelineIconSize - ($timelineBorderWidth / 2)));
    position: absolute;
    text-align: center;
    top: 10px;
    &-el {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bs-body-bg);
      border: 1px solid var(--bs-border-color);
      border-radius: 50%;
      width: $timelineIconSize;
      height: $timelineIconSize;
      font-size: 1.2rem;
    }
  }
  &__time {
    position: absolute;
    left: 0;
    text-align: right;
    top: 5px;
    width: calc($timelineLeft - $timelineIconSize);
    padding-right: 8px;
  }
  &__avatar {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: var(--bs-border-radius);
  }
  &__title {
    font-weight: 500;
    font-size: 1rem;
  }
  &__header {
    display: flex;
    align-items: center;
    gap: .8rem;
  }
  &__body {
      
  }
  &__months {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    &-el {
      width: calc(100% / 3);
      padding: .2rem;
    }
    &-btn {
      text-transform: capitalize;
      width: 100%;
    }
  }
}