.top-search {
  //.nav-link {
  //  color: $white;
  //}
  &__input {
    width: 450px;
  }
  &__result {
    b {
      font-weight: 500;
      color: $orange
    }
  }
}
//.input-dark {
//  color: #fff;
//  background-color: lighten($primary, 2.5%);
//  &:hover {
//    color: #fff;
//    background-color: lighten($primary, 5%);
//  }
//  &:focus {
//    color: #fff;
//    background-color: lighten($primary, 7.5%);
//  }
//  &::placeholder {
//    color: $light;
//  }
//}
