.tree-list {
  &__el-title {
    margin-bottom: .25rem;
    &.active {
      color: var(--bs-primary);
      font-weight: 500;
      i {
        color: var(--bs-primary);
      }
    }
    &:hover {
      color: var(--bs-primary);
      background: rgba(var(--bs-secondary-rgb), 0.1);
    }
  }
  &__el.active>&__el-title {
    background: rgba(var(--bs-primary-rgb), 0.5);
    color: white
  }
  &__collapse-btn {
    margin-right: 5px;
  }
}