@using Relaks.Models
@using Relaks.src.Views.Pages.Entries

<ul class="nav nav-tabs mb-3">
    @foreach (var tab in _tabs)
    {
        if (tab.Discriminators == null || tab.Discriminators.Contains(Entry.Discriminator))
        {
            <li class="nav-item">
                <NavLink href="@($"/entries/{EntryId}{tab.UrlPart}")" class="nav-link"><b>@tab.Title</b></NavLink>
            </li>   
        }
    }
</ul>

@code {
    [Parameter]
    public Guid EntryId { get; set; }

    [CascadingParameter]
    public BaseEntry Entry { get; set; } = null!;

    private List<(string UrlPart, string Title, List<string>? Discriminators)> _tabs = new();

    protected override void OnParametersSet()
    {
        _tabs = new() 
        {
            (UrlPart: "/info", Title: Resources.Entity.ResourceManager.GetString($"{Entry.Discriminator}_About") ?? "???", Discriminators: null),
            (UrlPart: "/structure", Title: "Структура", Discriminators: new List<string>() {nameof(ECompany), nameof(EMeet)}),
            (UrlPart: "/files", Title: "Файлы", Discriminators: null),
        };
    }

}