@using Relaks.Models
@using Relaks.Database
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db;

<div class="d-flex align-items-center gap-2">
    <div class="avatar-sm">
        @if (!string.IsNullOrEmpty(Entry.Thumbnail))
        {
            <img src="@Entry.Thumbnail" alt="">
        }
        else
        {
            <CustomAvatar Text="@Entry.Name"/>
        }
    </div>

    <div>
        <div class="fw-semibold">@Entry.Name</div>

        @if (!string.IsNullOrEmpty(Entry.Description))
        {
            <div style="line-height: 1.2rem; max-height: 2.4rem;overflow: hidden;text-overflow: ellipsis;">
                <div class="small">@Entry.Description</div>
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public Guid EntryId { get; set; }

    private BaseEntry Entry { get; set; } = null!;

    protected override void OnParametersSet()
    {
        Entry = Db.BaseEntries
            .Include(x => x.EntryInfos)
            .First(x => x.Id.Equals(EntryId))
            ;
    }

}