@using Relaks.Models
@using Relaks.src.Views.Pages.Entries

<ul class="nav nav-tabs mb-3">
    @foreach (var tab in _tabs)
    {
        <li class="nav-item">
            <NavLink href="@($"/entries/{EntryId}{tab.UrlPart}")" class="nav-link"><b>@tab.Title</b></NavLink>
        </li>   
    }
</ul>

@code {
    [Parameter]
    public Guid EntryId { get; set; }

    [CascadingParameter]
    public BaseEntry Entry { get; set; } = null!;

    private List<(string UrlPart, string Title)> _tabs = new();

    protected override void OnParametersSet()
    {
        _tabs = new() 
        {
            (UrlPart: "/info", Title: Resources.Entity.ResourceManager.GetString($"{Entry.Discriminator}_About") ?? "???"),
            (UrlPart: "/financials", Title: "Финансы"),
            (UrlPart: "/connections", Title: "Связи"),
            (UrlPart: "/structure", Title: "Структура"),
            (UrlPart: "/files", Title: "Файлы"),
        };
    }

}