@inherits LayoutComponentBase

<header class="header navbar navbar-dark bg-dark sticky-top flex-md-nowrap p-0 border-bottom border-secondary">
    <a class="navbar-brand col-sm-4 col-lg-3 col-xxl-2 me-0 px-3 fs-6" href="#">Relaks <span class="badge text-bg-secondary ms-2">beta</span></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav me-5">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#">Объединения</a>
        </div>
    </div>
    <TopSearch></TopSearch>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-12 col-sm-4 col-lg-3 col-xxl-2 sidebar">
            <NavMenu/>
        </nav>

        <main class="col-12 col-sm-8 col-lg-9 col-xxl-10 ms-sm-auto pt-3">
            @Body
        </main>
    </div>
</div>