h1, h2, h3, h4, h5, h6 {
    margin-top: 0
}

.bg-my-grey {
    @include content-background-mixin
}
// svg стрелки иначе перекрываются квазаром
.leader-line {
    z-index: 1001;
}
body {
    overflow-y: scroll;
    &.body--light {
        //.app-sidebar {
        //    background: $secondary;
        //    color: $bgColor;
        //
        //    .q-item.q-router-link--active, .q-item--active {
        //        color: $bgColor;
        //        background: lighten($secondary, 5%);
        //    }
        //}
        //
        .q-table__bottom,
        .q-table__top,
        .q-table,
        .q-card {
            @include content-background-mixin
        }

        .q-drawer--left.q-drawer--bordered {
            border-color: lighten($secondary, 4%);
        }
        //.q-table {
        //    @include content-background-mixin
        //}
        //
        //.q-field__label {
        //    color: $themeBlack;
        //}
        //
        .q-card__actions,
        .card-header {
            @include content-background-mixin;
        }
        //
        //.q-field__bottom {
        //    color: $grey-8;
        //}
        //
        //.q-table__card {
        //    background: none;
        //}
    }
}

.profile-tab {

}

.q-table {
    tbody td, thead th {
        font-size: 14px !important;
    }
    thead th {
        font-weight: 600;
    }
}

//.q-field--float .q-field__label
//  transform: translateY(-50%) scale(0.85)
//
.body--light {
    background: $bgColor;
}

.link {
    color: $themeBlack;
    text-decoration: none;
    position: relative;
    //padding-bottom: 1px;
    border-bottom: 2px solid $primary;
}

.q-badge {
    &.q-badge--size-normal {
        font-size: $button-font-size;
        line-height: 1.2em;
    }
}
.label-caption {
    text-transform: uppercase;
    font-size: .80rem;
}