@using Relaks.Models.StructureModels

<div class="structure-group">
    <div class="structure-group__el">
        @if (Group.ParentId.HasValue)
        {
            <div data-structure-group-arrow-parent-id="sg-bottom-@Group.ParentId.ToString()"
                 class="structure-group__dot structure-group__dot--top"></div>
        }
        <div class="structure-group__title">@Group.Title</div>
        @* @if (!string.IsNullOrEmpty(Group.Description)) *@
        @* { *@
        @*     <div class="small text-secondary mt-2">@Group.Description</div>    *@
        @* } *@
        @if (Group.Items.Any())
        {
            <div class="structure-items mt-2">
               @foreach (var item in Group.Items)
                {
                    <_DiagramStructureItem Item="@item"/>
                }
            </div>   
        }
        @if (Group.Children.Any())
        {
            <div id="sg-bottom-@Group.Id.ToString()" class="structure-group__dot structure-group__dot--bottom"></div>
        }
    </div>
    
    @if (Group.Children.Any())
    {
        <div class="structure-group__child">
            @foreach (var child in Group.Children)
            {
                <_DiagramStructureGroup Group="@child"/>
            }
        </div>    
    }
</div>

@code {
    [Parameter]
    public StructureGroup Group { get; set; } = null!;
}