@using Relaks.Models.StructureModels

<div class="structure-group">
    <div class="structure-group__el">
        @if (StructureGroup.ParentId.HasValue)
        {
            <div data-structure-group-arrow-parent-id="sg-bottom-@StructureGroup.ParentId.ToString()"
                 class="structure-group__dot structure-group__dot--top"></div>
        }
        @StructureGroup.Title
        @if (StructureGroup.Children.Any())
        {
            <div id="sg-bottom-@StructureGroup.Id.ToString()" class="structure-group__dot structure-group__dot--bottom"></div>
        }
    </div>
    
    @if (StructureGroup.Children.Any())
    {
        <div class="structure-group__child">
            @foreach (var child in StructureGroup.Children)
            {
                <_DiagramStructureGroup StructureGroup="@child"/>
            }
        </div>    
    }
</div>

@code {
    [Parameter]
    public StructureGroup StructureGroup { get; set; } = null!;
}