@inherits LayoutComponentBase

@using Relaks.Managers
@inject RelaksConfig RelaksConfig;

@if (RelaksConfig.IsFirstRun)
{
    <AppFirstRun/>
}
else
{
 <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Relaks <small><span class="badge text-bg-secondary ms-2">beta</span></small>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center header-navbar-menu">
        <li class="nav-item">
          <a class="nav-link" href="/entries">
            <div>@Resources.Entity.BaseEntries</div>
            <small class="text-muted">люди/компании/проекты</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timeline">
            <div>События</div>
            <small class="text-muted">линия времени</small>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div>Общие данные</div>
            <small class="text-muted">метки, шаблоны</small>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/entry-tags">
                <div>Метки объединений</div>
                <small class="text-muted">категории и метки</small>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/dataset-templates">
                <div>Шаблоны</div>
                <small class="text-muted">для наборов данных</small>
              </a>
            </li>


            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" href="/countries">
                <div>Страны</div>
                <small class="text-muted">столицы, валюты</small>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-flex gap-4" role="search">
        <TopSearch></TopSearch>
        <ThemeColorMode></ThemeColorMode>
      </div>
    </div>
  </div>
</nav>

@Body
}