@* <div class="position-sticky pt-3 sidebar-sticky"> *@
@*     <ul class="nav flex-column"> *@
@*         @foreach (var menuItem in _menuItems) *@
@*         { *@
@*             <li class="nav-item"> *@
@*                 <a class="nav-link link-light" aria-current="page" href="@menuItem.Value"> *@
@*                     @menuItem.Key *@
@*                 </a> *@
@*             </li> *@
@*         } *@
@*         @for (var i = 0; i < 50; i++) *@
@*         { *@
@*             <li class="nav-item"> *@
@*                 <a class="nav-link link-light" aria-current="page" href="#"> *@
@*                     Test @i *@
@*                 </a> *@
@*             </li> *@
@*         } *@
@*     </ul> *@
@* </div> *@
@* *@
@* @code { *@
@* *@
@*     private Dictionary<string, string> _menuItems = new() *@
@*     { *@
@*         {"Объединения", "/entries"}, *@
@*         // {"Debug", "/debug/routes"}, *@
@*     }; *@
@* *@
@* } *@