<div class="d-flex gap-3 align-items-center">
    <Pagination PageCount="@TotalPages"
                Alignment="Alignment.Left"
                PageIndex="@ActivePage"
                OnPageLinkClick="OnPageLinkClick"
    />

    <div class="mb-3">Всего найдено: @TotalItems</div>
</div>

@code {

    [Parameter]
    public int ActivePage { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public int TotalItems { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }

    private async Task OnPageLinkClick(int pageNumber) => await OnPageChanged.InvokeAsync(pageNumber);
}