@using Relaks.Interfaces
@if (Prop.Equals(Orderable.OrderBy))
{
   <span><i class="las  la-lg @(Orderable.IsOrderByDesc == true ? "la-sort-amount-down" : "la-sort-amount-up")"></i></span>  
}

@code {

   [Parameter]
   public string Prop { get; set; } = null!;

   [Parameter]
   public IOrderable Orderable { get; set; } = null!;
}