@if (!string.IsNullOrEmpty(Label))
{
    <label for="@Id" class="form-label">@Label</label>
}
<textarea class="form-control" 
    @bind="@Value"
    @bind:event="oninput"
    @bind:after="@OnChanged"
    style="resize:both;overflow: hidden;"
    ></textarea>

@code {

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string?> ValueChanged { get; set; }

    [Parameter]
    public string? Label { get; set; }

    private Guid Id { get; set; } = Guid.NewGuid();

    private async Task OnChanged()
    {
        if (string.IsNullOrEmpty(Value)) Value = null;
        // oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
        await ValueChanged.InvokeAsync(Value);
        
    }

}