@page "/entries"
<PageTemplate>
    <Title>Объединения</Title>
    
    @* <EntryList OnRowDoubleClicked="OnRowDoubleClicked"></EntryList> *@
    <EntryList></EntryList>
</PageTemplate>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    private void OnRowDoubleClicked(Guid entryId)
    {
        NavigationManager.NavigateTo("/entries/" + entryId);
    }
}