@using Relaks.Views.Pages.Financials.ViewModels
@using Relaks.Models.FinancialModels

<div class="list-group border-0">
        <div class="list-group-item d-flex justify-content-between align-items-center gap-2 bg-secondary bg-opacity-25">
            <div class="fw-medium">@Category.Title</div>
            <span class="badge bg-secondary bg-opacity-75 rounded-pill text-white">@Category.Accounts.Count</span>
        </div>
        @foreach (var account in Category.Accounts)
        {
            <div class="list-group-item list-group-item-action cursor-pointer d-flex justify-content-between align-items-center gap-2 group-show">
                <div>
                    @account.TitleWithCurrency()
                </div>
                <div class="group-show__item">
                    <Tooltip Title="Изменить" Placement="Placement.Right">
                        <button type="button" class="btn btn-circle btn-sm btn-outline-secondary">
                                                <i class="las la-edit la-lg"></i>
                                            </button>
                    </Tooltip>
                </div>
            </div>
        }
</div>  

@code {

    [CascadingParameter]
    public FinancialsStore Store { get; set; } = null!;

    [Parameter]
    public EventCallback OnStateChanged { get; set; }

    [Parameter]
    public required FinancialAccountCategory Category { get; set; }

}