@page "/financials"
@using Relaks.Views.Pages.Financials.ViewModels
@using Relaks.Database

@inject AppDbContext Db;

<PageTemplate>
    <MyTitle>Финансы</MyTitle>

    <CascadingValue Value="@Store">
        <div class="row">
            <div class="col-3">
                @switch (Store.SidebarState)
                {
                    case FinancialsStore.SidebarEnum.EditAccountCategory:
                    case FinancialsStore.SidebarEnum.AddAccountCategory:
                        <_AccountCategoryForm OnStateChanged="@StateHasChanged"/>
                        break;
                    case FinancialsStore.SidebarEnum.EditAccount:
                    case FinancialsStore.SidebarEnum.AddAccount:
                        <_AccountForm OnStateChanged="@StateHasChanged"/>
                        break;
                    default:
                        <_SidebarHeader OnStateChanged="@StateHasChanged"/>
                        <p>Категории кошельков</p>
                        <p>Кошельки</p>
                        break;
                }
            </div>
            <div class="col-9">
                        <p>Валюты</p>
                        <p>Транзакции</p>
                        <p>Категории транзакций</p>
            </div>
        </div>
        
    </CascadingValue>
</PageTemplate>

@code {
    private FinancialsStore Store { get; set; } = null!;

    protected override void OnInitialized()
    {
        Store = new(Db);
        Store.Initialize();
    }

}